body, html {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #f3f3f3;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.input-row {
  margin-bottom: 10px; /* 각 입력 필드 간의 간격 */
}

.input-field {
  width: 60%; /* 입력 필드 너비 조정 */
  padding: 10px;
  margin-top: 5px; /* 상단 여백 */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

canvas {
  border: 1px solid #ddd;
  margin-top: 20px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* text-shadow: 1px 1px 2px #000000; */